WeatherWeb/wsdl/WeatherReportImplService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.weather.com/" elementFormDefault="unqualified" targetNamespace="http://service.weather.com/" version="1.0">
<xs:element name="gettemperature" type="tns:gettemperature"/>
<xs:element name="gettemperatureResponse" type="tns:gettemperatureResponse"/>
<xs:complexType name="gettemperature">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="gettemperatureResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
